body,
html {
  margin: 0;
  padding: 0;
}

.nav-name {
  font-size: 48px;
}
.nav-text {
  font-size: 18px;
}
.bg-img {
  width: 100%;
}
.search-form {
  padding-top: 20%;
  width: max-content;
  margin: auto;
  height: calc(70vh - 98px);
}

.search-bg {
  background: url(../img/header-bg.jpg);
  background-size: cover;
  height: calc(100vh - 115px);
  width: 100%;
}
.nav-logo{
    width: 100px;
}
